@keyframes ldio-h0knq6t2aal {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.ldio-h0knq6t2aal div {
    box-sizing: border-box !important
}

.ldio-h0knq6t2aal > div {
    position: absolute;
    width: 121.5px;
    height: 121.5px;
    top: 14.25px;
    left: 14.25px;
    border-radius: 50%;
    border: 7.5px solid #000;
    border-color: #f8c533 transparent #f8c533 transparent;
    animation: ldio-h0knq6t2aal 4.761904761904762s linear infinite;
}

.ldio-h0knq6t2aal > div:nth-child(2), .ldio-h0knq6t2aal > div:nth-child(4) {
    width: 103.5px;
    height: 103.5px;
    top: 23.25px;
    left: 23.25px;
    animation: ldio-h0knq6t2aal 4.761904761904762s linear infinite reverse;
}

.ldio-h0knq6t2aal > div:nth-child(2) {
    border-color: transparent #953143 transparent #953143
}

.ldio-h0knq6t2aal > div:nth-child(3) {
    border-color: transparent
}

.ldio-h0knq6t2aal > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-h0knq6t2aal > div:nth-child(3) div:before, .ldio-h0knq6t2aal > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 7.5px;
    height: 7.5px;
    top: -7.5px;
    left: 49.5px;
    background: #f8c533;
    border-radius: 50%;
    box-shadow: 0 114px 0 0 #f8c533;
}

.ldio-h0knq6t2aal > div:nth-child(3) div:after {
    left: -7.5px;
    top: 49.5px;
    box-shadow: 114px 0 0 0 #f8c533;
}

.ldio-h0knq6t2aal > div:nth-child(4) {
    border-color: transparent;
}

.ldio-h0knq6t2aal > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-h0knq6t2aal > div:nth-child(4) div:before, .ldio-h0knq6t2aal > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 7.5px;
    height: 7.5px;
    top: -7.5px;
    left: 40.5px;
    background: #953143;
    border-radius: 50%;
    box-shadow: 0 96px 0 0 #953143;
}

.ldio-h0knq6t2aal > div:nth-child(4) div:after {
    left: -7.5px;
    top: 40.5px;
    box-shadow: 96px 0 0 0 #953143;
}

.loadingio-spinner-double-ring-qtvqibjdt3 {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    display: inline-block;
    overflow: hidden;
    background: none;
}

.ldio-h0knq6t2aal {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-h0knq6t2aal div {
    box-sizing: content-box;
}